{% extends "base.html" %}
{% load static %}

{% block title %}Ex01 : Django, framework web.{% endblock %}


{% block content %}
<h1>Presentation of Django</h1>
<p><strong>What is Django ?</strong> Dango is a high-level Python web framework that encourages rapid development and clean, pragmatic design. It handles much of the complexity of web development, allowing developers to focus on writing their application.</p>
<p><strong>History</strong> Django was created in 2003 by Adrian Holovaty and Simon Willison while working at the Lawrence Journal-World newspaper in Kansas. It was released publicy under a BSD licence in July 2005. THe Framework was named after jazz guitarist Django Reinhardt.<br /> In 2008, the Django Software Foundation (DSF) was created to maintain the project. Today Django is one of the popular Python web frameworks, used by companies, Pinterest, and Mozilla.</p>
<p><strong>Key features</strong></p>
<ul>
  <li>Follows the MVT (Model-View-Template) pattern</li>
  <li>Includes a powerful ORM for database management</li>
  <li>Built-in admin interface</li>
  <li>Strong security features out of the box</li>
  <li>Large and active community</li>
</ul>
{% endblock %}
