<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>Display movie class</h1>
        <p>
            <pre>
                <strong>Film title:</strong> {{ movies }}
                <strong>Opening crawl:</strong> {{ movies.opening_crawl }}
                <strong>Producer:</strong> {{ movies.producer }}
                <strong>Director:</strong>  {{ movies.director }}
                <strong>Release date:</strong> {{ movies.release_date }}
                <strong>Number of episodes:</strong> {{ movies.episode_nb }}
            </pre>
        </p>
    </body>
</html>