{% extends "base.html" %}
{% block content %}
    <nav>
        <a href="/ex06/init">Iniatialisation</a>
        <a href="/ex06/populate">Populate</a>
        <a href="/ex06/display">Display</a>
        <a href="/ex06/update">Update</a>
    </nav>
    <h1>Data supress.</h1>
    {% if empty == 0 %}
        <p>No data available</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update">
    </form>
    {% endif %}
{% endblock %}