{% extends "base.html" %}
{% block content %}
    <nav>
        <a href="/ex08/Init">Populate</a>
        <a href="/ex08/populate">Populate</a>
        <a href="/ex08/display">Display</a>
        <a href="/ex08/update">Update</a>        
    </nav>
    <h1>Populate.</h1>
    {% if inserted or conflicts %}
        {% for data in inserted %}
            <p>OK: {{data}}</p>
        {% endfor %}
        {% for data in conflicts %}
            <p>Data already exist: {{data}}</p>
        {% endfor %}
    {% else %}
        <p>No data Available.</p>
    {% endif %}
{% endblock %}