# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
envDay*/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Variables d'environnement
.env

# Migrations (le sujet dit de ne pas les rendre)
*/migrations/0*.py